.beverage {
    border: 1px solid #eee;
    margin: 15px 0;
    padding: 15px;
    position: relative;
}

.remove-button {
    position: absolute;
    top: 10px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #888;
    transition: color 0.2s ease;
}

.beverage-count {
    margin: 0 0 15px;
}

.field {
    display: block;
    margin-bottom: 10px;
}

.label-text {
    display: inline-block;
    width: 80px;
}

.checkbox-label {
    margin-bottom: 5px;
    display: inline-block;
}

.checkbox-field {
    margin: 5px 0;
    display: block;
}

.add-button {
    border: none;
    background: none;
    padding: 10px;
    color: rgba(0, 27, 255, 0.82);
    font-size: 14px;
    text-decoration: underline dashed;
    cursor: pointer;
}

.submit-button {
    font-size: 16px;
    padding: 7px 15px;
    border: 2px solid orange;
    border-radius: 5px;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    width: 500px;
    height: auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    position: relative;
    text-align: center;
    font-size: 24px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.close-modal-button {
    position: absolute;
    top: 15px;
    right: 15px;
    background: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #888;
    transition: color 0.2s ease;
}

.hidden {
    display: none;
}

.order-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 16px;
    text-align: left;
}

.order-table th, .order-table td {
    border: 1px solid #ddd;
    padding: 10px;
}
.time-select {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}

.time-text {
    align-content: center;
}

.order-table th {
    background-color: #f4f4f4;
    font-weight: bold;
}

.modal-content h3 {
    margin-top: 0;
}
.order-time {
    padding: 6px 10px;

    font-size: 14px;

    border: 1px solid gray;
    border-radius: 6px;

    outline: none;
}

.confirm-order {
    margin-top: 20px;
    padding: 10px 18px;

    font-size: 14px;
    font-weight: 500;

    color: white;
    background-color: mediumseagreen;

    border: none;
    border-radius: 8px;

    cursor: pointer;
}